@model Dominio.Comentario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Comentario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <ul id="idListPessoas" class="clListPessoas">

            </ul>
            <script type="text/javascript">
                $(document).ready(function() {
                    $.ajax({
                        url: '@Url.Action("ListPessoa", "Comentario")',
                        type: "GET",
                        data: {
                            term: "Marcio"
                        },
                        success: function (data, textStatus, jqXHR) {
                            //data - response from server
                            for (var i = 0, count = data.length; i < count; i++) {
                                $("#idListPessoas").append("<li>"+
                                                          " <label>"+data[i]+"</label>"+
                                                          "</li>");
                                $(".clListPessoas").append("<li>" +
                                                          " <label>" + data[i] + "</label>" +
                                                          "</li>");
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("erro");
                        }
                    });
                })
            </script>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
